h1 {
    font-family: $font-stack1;
    font-size: 3em;
    margin-bottom: .2em;
}

h2 {
    font-family: $font-stack1;
    font-size: 2em;
    margin-bottom: .5em;
}

h3 {
    font-family: $font-stack1;
    font-size: 1.5em;
    margin-bottom: .2em;
}

p {
    font-family: $font-stack1;
    font-size: 1em;
}
p.subtitle {
    @extend p;
    margin-bottom: $large-padding;
}