.content__col--left {
    @include span(4 of 12);
    .content__img--full {
        @include section($small-padding, $small-padding);
        height: 15em;
        background-color: $color1;
    }
    .content__contact-info {
        @include section($small-padding, $small-padding);
        height: 10em;
        background-color: $color3;
    }
}

.content__text-block--right {
    @include span(8 of 12 last);
    height: 30em;
    background-color: $color3;
}
.short {
    height: 10em;
    margin-bottom: 0;
}