$color1: #999999;
$color2: #333333;
$color3: #cccccc;
$color4: #FFFFFF;

$font-stack1: Helvetica, sans-serif;

$small-padding: 1em;
$large-padding: 3em;

@mixin section($margin-bottom, $padding: $padding) {
    margin-bottom: $margin-bottom;
    padding: $padding;
}

/* Clearfix */
@mixin cf {
    &:after {
        content: " ";
        display: block;
        clear: both;
    }
}

