/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "susy";
/* Partials */
@import "variables";
@import "fonts";
@import "blog";
@import "about";

$susy: (
    columns: 12,
    global-box-sizing: border-box,
);

@include border-box-sizing;

body {
    padding: 1em;
}

/* Nav */

nav {
    @include container;
    @include cf;
    background-color: $color2;
    @include section($small-padding, $small-padding);
    ul.top-nav, ul.login {
        list-style: none;
        li {
            display: inline-block;
            margin-right: $small-padding;
            color: $color4;
            font-family: $font-stack1;
        }
    }
    ul.top-nav {
        display: none;
        @media (min-width: 700px) {
            display: block;
            @include span(8 of 12);
            margin-bottom: 0;
            padding-bottom: 0;
            border: none;
        }
    }
    ul.login {
        display: none;
        @media (min-width: 700px) {
            display: block;
            @include span(4 of 12 last);
            li {
                float: right;
            }
        }
    }
}

/* Header */

header {
    height: 20em;
    background-color: $color1;
    text-align: center;
    position: relative;
    @media (min-width: 700px) {
        height: 40em;
    }
    @include section($small-padding, $small-padding);
    .header-group {
        position: relative;
        top: 20%;
        @media (min-width: 700px) {
            top: 40%;
        }
    }
    button.header__button {
        background-color: $color2;
        border: none;
        border-radius: .2em;
        padding: $small-padding;
        color: $color4;
        font-size: 1.2em;
    }
}


/* Main */

main {
    @include section($small-padding, $small-padding);
    background-color: $color3;
    .wrapper {
        @include container(1200px);
        section {
            @include section($small-padding, $small-padding);
            @include cf;
            text-align: center;
            .row {
                @include container;
                @include cf;
                .content-block1, .content-block2, .content-block3 {
                    height: 15em;
                    background-color: $color1;
                }
                @media (min-width: 700px) {
                    .content-block1, .content-block2 {
                        @include span(4 of 12);
                    }
                    .content-block3 {
                        @include span(4 of 12 last);
                    }
                }
            }
        }
        section.about, section.events, section.get-involved, section.newsletter-signup {
            h2 {
                position: relative;
                top: 40%;
            }
        }
        section.about, section.events, section.get-involved {
            background-color: $color4;
            height: 20em;
        }
        section.news {
            background-color: $color4;
        }
        section.newsletter-signup {
            background-color: $color2;
            height: 10em;
        }
        section.get-involved, section.faq {
            margin-bottom: 0;
        }
    }
}

.content-block1, .content-block2, .content-block3 {
    padding-top: 1em;
}

/* Footer */

footer {
    @include section($small-padding, $small-padding);
    background-color: $color2;
    height: 10em;
    text-align: center;
    margin-bottom: 0;
    .text-group {
        position: relative;
        top: 40%;
    }
}
