ul.content__gallery {
    @include cf;
    list-style: none;
    li {
        @include span(3 of 6);
        margin-bottom: gutter(6);
        position: relative;
        &:nth-child(2n) {
            @media (max-width: 699px) {
                @include span(3 of 6 last);
            }
        }
        a, a:focus, a:hover, a:visited, a:active {
            color: $color4;
        }
        h3 {
            line-height: 1.4;
            margin-top: .5em;
        }
        @media (min-width: 700px) {
            @include span(4 of 12);
            margin-bottom: gutter(12);
            &:nth-child(3n) {
                @include span(4 of 12 last);
            }
        }
        &.no-picture {
            @include section(0, $small-padding);
            height: 15em;
            background-color: $color1;
            a:focus, a:hover {
                color: $color2;
            }
        }
    }
    li.locked {
        background-color: $color3;
        figure, figcaption {
            opacity: .5;
        }
    }
}


section.news {
    ul.content__gallery {
        li {
            background-color: transparent;
        }
        li:last-child {
            @include span(6 of 6);
            @media (min-width: 700px) {
                @include span(4 of 12 last);
            }
        }
    }
}

ul.content__gallery--small {
    @include cf;
    list-style: none;
    li {
        @include span(3 of 6);
        margin-bottom: gutter(6);
        position: relative;
        &:nth-child(2n) {
            @media (max-width: 699px) {
                @include span(3 of 6 last);
            }
        }
        a, a:focus, a:hover, a:visited, a:active {
            color: $color4;
        }
        h3 {
            line-height: 1.4;
            margin-top: .5em;
        }
        @media (min-width: 700px) {
            @include span(3 of 12);
            margin-bottom: gutter(12);
            &:nth-child(4n) {
                @include span(3 of 12 last);
            }
        }
    }
}


/* Figure hover caption */

figure {
    position: relative;
    img {
        margin-bottom: -.2em;
    }
}
.blank {
    height: 15em;
    background-color: $color1;
}
figcaption {
    a {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        padding: $small-padding;
        z-index: 2000;
        opacity: 0;
        text-decoration: none;
        background-color: $color2;
        &:focus, &:hover {
            opacity: .8;
        }
    }
}