/* Homepage header */

header {
    height: 25em;
    background-color: $color1;
    text-align: center;
    position: relative;
    @media (min-width: 700px) {
        height: 40em;
    }
    @include section(0, $small-padding);
    .header-group {
        position: relative;
        top: 20%;
        max-width: 700px;
        margin: 0 auto;
        text-align: center;
        @media (min-width: 700px) {
            top: 40%;
        }
        a {
            color: $color4;
        }
    }
    .header__button {
        background-color: $color2;
        border: none;
        border-radius: .2em;
        padding: $small-padding;
        color: $color4;
        font-family: $font-stack1;
        font-size: 1.2em;
    }
}

h2.header--secondary {
    margin-top: $small-padding;
    text-align: left;
}

/* General/blog header */

header.blog-header {
    height: auto;
    background-color: transparent;
    padding-top: 6em;
    .blog-header__header-group {
        text-align: left;
        margin: 0;
        a {
            color: $color2;
        }
    }
}