/* Center content */
    .content {
        @include section(0, $small-padding);
        height: auto;
        background-color: $color4;
        @media (min-width: 900px) {
            @include span(6 of 12);
            padding-top: 0;
        }
        p {
            margin-bottom: $small-padding;
        }
        .row {
            @include cf;
            border-bottom: 2px solid $color3;
            margin-bottom: $small-padding;
            float: none;
        }
        .row:last-child, .row--last {
            margin-bottom: 0;
            border-bottom: none;
        }
        .blog-content__img {
            background-color: $color1;
            @media (min-width: 700px) {
                @include span(4 of 12);
            }
            img {
                margin-bottom: -.2em;
            }
        }
        .blog-content__text-block {
            padding-top: $small-padding;
            @media (min-width: 700px) {
                @include span(8 of 12 last);
                padding: 0;
            }
            @media (min-width: 1500px) {
                @include span(8 of 12 last);
                padding: $small-padding;
            }
        }
        .blog-content__author {
            background-color: $color1;
            @include section(0, $small-padding);
            @include cf;
            .blog-content__author-photo {
                width: 10em;
                height: 10em;
                background-color: $color2;
                float: left;
            }
            .blog-content__author-bio {
                background-color: $color3;
                height: 10em;
                margin-left: 11em;
            }
        }
        .blog-content__pagination {
            text-align: center;
        }
    }

/* Content - general */

.content__col--left {
    position: relative;
    @media (min-width: 700px) {
        @include span(4 of 12);
    }
    .content__img--full {
        background-color: $color1;
        img {
            margin-bottom: -.2em;
        }
    }
    .content__contact-info {
        @include section($small-padding, $small-padding);
        background-color: $color3;
        margin-top: $small-padding;
        p {
            margin-bottom: 0;
        }
        a {
            color: $color4;
        }
    }
}

.content__text-block--right {
    padding-top: $small-padding;
    h3 {
        margin-bottom: .5em;
    }
    @media (min-width: 700px) {
        @include span(8 of 12 last);
        padding: 0;
    }
    @media (min-width: 1500px) {
        @include span(8 of 12 last);
        padding: $small-padding;
    }
}

.content__col--full-1, .content__col--full-2 {
    margin-bottom: $small-padding;
    img {
        margin-bottom: -.2em;
    }
    h3 {
        clear: both;
    }
}

.narrow {
    @media (min-width: 1300px) {
        padding-right: span(2 of 6);
    }
}


