    /* Right sidebar */
    .sidebar-r {
        @include cf;
        @media (min-width: 900px) {
            @include span(3 of 12 last);
        }
        ul.blog-sidebar__events {
            @include cf;
            overflow: hidden;
            li {
                @include span(3 of 6);
                @include section($small-padding, $small-padding);
                height: 8em;
                background-color: $color3;
                font-family: $font-stack1;
                color: $color4;
            }
            li:last-child {
                margin-bottom: 0;
            }
            li:nth-child(2n) {
                @include span(3 of 6 last);
            }
            @media (min-width: 700px) {
                li, li:last-child, li:nth-child(2n) {
                    @include span(6 of 6);
                }
            }
        }
    }
