ul.content__sub-nav {
    list-style: none;
    li {
        display: inline-block;
        margin-right: $small-padding;
        color: $color3;
    }
    li.current {
        color: $color2;
    }
}

ul.content__gallery {
    @include cf;
    list-style: none;
    li {
        @include span(3 of 6);
        height: 8em;
        background-color: $color1;
        padding: $small-padding;
        margin-bottom: gutter(6);
        &:nth-child(2n) {
            @media (max-width: 699px) {
                @include span(3 of 6 last);
            }
        }
        @media (min-width: 700px) {
            @include span(4 of 12);
            margin-bottom: gutter(12);
            height: 10em;
            &:nth-child(3n) {
                @include span(4 of 12 last);
            }
        }
    }
    li.locked {
        background-color: $color3;
    }
}

.content__signup {
    @include section(0, $small-padding);
    background-color: $color2;
    color: $color4;
    min-height: 5em;
}

.content__signup--top {
    @include section($small-padding, $small-padding);
    background-color: $color2;
    color: $color4;
    min-height: 5em;
}

button.content__button {
    margin-bottom: $small-padding;
    @media (min-width: 700px) {
        margin-bottom: 0;
    }
}