/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "susy";

/* Variables and mixins */
@import '_variables.scss';
@import '_mixins.scss';
/* Partials */
@import '_global/*.scss';

$susy: (
    columns: 12,
    global-box-sizing: border-box,
);

@include border-box-sizing;


* {
    font-family: $font-stack1;
}


a, a:visited, a:hover, a:active {
    color: $color4;
}

a.block {
    height: 100%;
    display: block;
    &:hover {
        color: $color2;
    }
}


/* Main */

main {
    @include section(0, $small-padding);
    background-color: $color3;
        section {
            @include section($small-padding, $small-padding);
            @include cf;
            text-align: center;
        }
        section.get-involved {
            background-color: $color4;
        }
        section.news {
            background-color: $color4;
        }
        section.newsletter-signup {
            background-color: $color2;
        }
        section.get-involved, section.faq {
            margin-bottom: 0;
        }
}

.row {
    @include container;
    @include cf;
    .content-block1, .content-block2, .content-block3 {
        height: 15em;
        background-color: $color1;
        @include section($small-padding, $small-padding);
    }
    @media (min-width: 700px) {
        .content-block1, .content-block2 {
            @include span(4 of 12);
            margin-bottom: 0;
        }
        .content-block3 {
            @include span(4 of 12 last);
            margin-bottom: 0;
        }
    }
}

button.content__button {
        background-color: $color1;
        border: none;
        border-radius: .2em;
        padding: $small-padding;
        color: $color4;
        font-size: 1.2em;
}
button.sidebar__button {
    margin-bottom: $small-padding;
    width: 100%;
}

/* Events section */

section.events {
    background-color: $color4;
    @include section($small-padding, $small-padding);
    padding-bottom: 0;
    ul.events-section__list {
        list-style: none;
        @include cf;
        li {
            @include span(6 of 12);
            margin-bottom: gutter(12);
            padding: $small-padding;
            display: inline-block;
            height: 8em;
            background-color: $color1;
            font-family: $font-stack1;
        }
        @media (max-width: 699px) {
            li:nth-child(2), li:nth-child(4), li:last-child {
                @include span(6 of 12 last);
            }
        }
        @media (min-width: 700px) {
            li {
                @include span(4 of 12);
                height: 10em;
            }
            li:nth-child(3), li:last-child {
                @include span(4 of 12 last);
            }
            li:nth-child(4), li:nth-child(5), li:nth-child(6) {
                margin-bottom: 0;
            }
        }
    }
}

/* General content */

.wrapper {
        @include container(1200px);
}

.wrapper--wide {
    @include container;
    @include cf;
    background-color: $color3;
}

.content__col--full-1 {
    @include section($small-padding, $small-padding);
    height: 12em;
    background-color: $color1;
    @media (min-width: 700px) {
        height: 20em;
    }
}

.content__col--full-2 {
    @include section(0, $small-padding);
    height: 15em;
    background-color: $color3;
}

.content__col--full-2-long {
    @include section(0, $small-padding);
    height: 60em;
    background-color: $color3;
}

/* Newsletter signup */

h2.signup__title {
    color: $color3;
}

form {
    @include container(12);
    @include cf;
    fieldset {
        @media (min-width: 700px) {
            @include span(10 of 12);
        }
        label {
            color: $color4;
            text-align: left;
            width: 100%;
            float: left;
            @media (min-width: 700px) {
                @include span(6 of 12);
            }
        &:last-child {
            @media (min-width: 700px) {
                @include span(6 of 12 last);
            }
        }
        input {
                margin: .5em 0 $small-padding 0;
                width: 100%;
                font-size: 1.2em;
                padding: .3em;
            }
        }
    }
    button {
        padding: .6em $small-padding .4em $small-padding;
        border-radius: .2em;
        border: none;
        font-size: 1.2em;
        margin-top: 0;
        cursor: pointer;
        @media (min-width: 700px) {
            @include span(2 of 12 last);
            margin-top: 1.2em;
        }
    }
}

/* Footer */

footer {
    @include cf;
    @include section($small-padding, $small-padding);
    background-color: $color2;
    margin-bottom: 0;
}
