$color1: #999999;
$color2: #333333;
$color3: #cccccc;
$color4: #FFFFFF;

$font-stack1: Helvetica, sans-serif;

$small-padding: 1em;
$large-padding: 3em;

$bp-s: 400px;
$bp-m: 700px;
$bp-l: 900px;
$bp-xl: 1300px;

