/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "susy";
@import "font-awesome-compass";
@import "font-awesome";

/* Variables and mixins */
@import '_variables.scss';
@import '_mixins.scss';
/* Partials */
@import '_global/*.scss';

$susy: (
    columns: 12,
    global-box-sizing: border-box,
);

@include border-box-sizing;


*, body {
    font-family: $font-stack1;
}

body {
    position: relative;
}


a, a:focus, a:visited, a:hover, a:active {
    color: $color4;
}