/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "susy";
@import "font-awesome-compass";
@import "font-awesome";

/* Variables and mixins */
@import '_variables.scss';
@import '_mixins.scss';
/* Partials */
@import '_global/*.scss';

$susy: (
    columns: 12,
    global-box-sizing: border-box,
);

@include border-box-sizing;


* {
    font-family: $font-stack1;
}

body {
    position: relative;
}


a, a:focus, a:visited, a:hover, a:active {
    color: $color4;
}

a.block {
    height: 100%;
    display: block;
    &:hover {
        color: $color3;
    }
}
a.current, a.content__title {
    color: $color1;
    text-decoration: none;
}


/* Main homepage */

main {
    @include section(0, $small-padding);
    section {
        @include section($small-padding, $small-padding);
        @include cf;
        background-color: $color4;
        h2 {
        text-align: center;
        }
    }
    section.events, section.team {
        padding-bottom: 0;
    }
    section.newsletter-signup {
        @include section(0, 2em);
        margin: 0 $small-padding $small-padding $small-padding;
        background-color: $color2;
    }
    section.last {
        margin-bottom: 0;
    }
}

.row {
    @include container;
    @include cf;
    a, a:visited, a:hover, a:active {
        color: $color1;
    }
    .content-block1, .content-block2, .content-block3 {
        height: 15em;
        background-color: $color1;
        @include section($small-padding, $small-padding);
    }
    @media (min-width: 700px) {
        .content-block1, .content-block2 {
            @include span(4 of 12);
            margin-bottom: 0;
        }
        .content-block3 {
            @include span(4 of 12 last);
            margin-bottom: 0;
        }
    }
}

/* General content */

.last {
    margin-bottom: 0;
}

.padding {
    padding-bottom: $small-padding;
}

.no-padding {
    @media (min-width: 700px) {
        padding: 0;
    }
}

.wrapper {
    @include container(1100px);
}

.wrapper--wide {
    @include container;
    @include cf;
}

/* Sidebar link styles */
.sidebar-l, .sidebar-r {
    a, a:visited, a:hover, a:active {
    color: $color4;
    }
}

/* Footer */

footer {
    @include cf;
    @include section($small-padding, $small-padding);
    background-color: $color2;
    margin-bottom: 0;
}


.footer__popup {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: $small-padding;
    background-color: $color2;
    width: 20em;
    height: auto;
    z-index: 3000;
    display: block;
}