/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, p.subtitle, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Partials */
/* Clearfix */
/* line 1, ../sass/_fonts.scss */
h1 {
  font-family: Helvetica, sans-serif;
  font-size: 3em;
  margin-bottom: .2em;
}

/* line 7, ../sass/_fonts.scss */
h2 {
  font-family: Helvetica, sans-serif;
  font-size: 2em;
  margin-bottom: .5em;
}

/* line 13, ../sass/_fonts.scss */
h3 {
  font-size: 1.5em;
  margin-bottom: .2em;
}

/* line 18, ../sass/_fonts.scss */
p, p.subtitle {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
}

/* line 22, ../sass/_fonts.scss */
p.subtitle {
  margin-bottom: 3em;
}

/* Header */
/* line 3, ../sass/_blog.scss */
header.blog-header {
  height: auto;
}
/* line 5, ../sass/_blog.scss */
header.blog-header .blog-header__header-group {
  text-align: left;
  margin: 0;
}

/* Main content */
/* line 13, ../sass/_blog.scss */
.wrapper--wide {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #cccccc;
  /* Right Sidebar */
  /* Center content */
  /* Left sidebar */
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.wrapper--wide:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 18, ../sass/_variables.scss */
.wrapper--wide:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 18, ../sass/_blog.scss */
.wrapper--wide .sidebar-l {
  margin-bottom: 0;
  padding: 1em;
  background-color: #999999;
}
/* line 18, ../sass/_variables.scss */
.wrapper--wide .sidebar-l:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 900px) {
  /* line 18, ../sass/_blog.scss */
  .wrapper--wide .sidebar-l {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 26, ../sass/_blog.scss */
.wrapper--wide .sidebar-l ul.blog-sidebar__filter li {
  margin-bottom: 0;
  padding: 1em;
  width: 31.03448%;
  float: left;
  margin-right: 3.44828%;
  background-color: #333333;
  font-family: Helvetica, sans-serif;
  color: #FFFFFF;
}
/* line 33, ../sass/_blog.scss */
.wrapper--wide .sidebar-l ul.blog-sidebar__filter li:nth-child(3) {
  width: 31.03448%;
  float: right;
  margin-right: 0;
}
/* line 36, ../sass/_blog.scss */
.wrapper--wide .sidebar-l ul.blog-sidebar__filter li:first-child, .wrapper--wide .sidebar-l ul.blog-sidebar__filter li:nth-child(2), .wrapper--wide .sidebar-l ul.blog-sidebar__filter li:nth-child(3) {
  height: 4em;
  margin-bottom: 1em;
}
@media (min-width: 700px) {
  /* line 36, ../sass/_blog.scss */
  .wrapper--wide .sidebar-l ul.blog-sidebar__filter li:first-child, .wrapper--wide .sidebar-l ul.blog-sidebar__filter li:nth-child(2), .wrapper--wide .sidebar-l ul.blog-sidebar__filter li:nth-child(3) {
    height: auto;
    width: 100%;
  }
}
/* line 44, ../sass/_blog.scss */
.wrapper--wide .sidebar-l ul.blog-sidebar__filter li:nth-child(4), .wrapper--wide .sidebar-l ul.blog-sidebar__filter li:nth-child(5) {
  width: 100%;
  margin-bottom: 1em;
}
/* line 18, ../sass/_variables.scss */
.wrapper--wide .sidebar-l ul.blog-sidebar__filter li:nth-child(4):after, .wrapper--wide .sidebar-l ul.blog-sidebar__filter li:nth-child(5):after {
  content: " ";
  display: block;
  clear: both;
}
/* line 49, ../sass/_blog.scss */
.wrapper--wide .sidebar-l ul.blog-sidebar__filter li.current {
  background-color: #cccccc;
}
/* line 52, ../sass/_blog.scss */
.wrapper--wide .sidebar-l ul.blog-sidebar__filter li.search {
  background-color: #FFFFFF;
  color: #333333;
  width: 100%;
}
/* line 18, ../sass/_variables.scss */
.wrapper--wide .sidebar-l ul.blog-sidebar__filter li.search:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 58, ../sass/_blog.scss */
.wrapper--wide .sidebar-l ul.blog-sidebar__filter .blog-sidebar__speaker {
  width: 31.03448%;
  float: left;
  margin-right: 3.44828%;
  height: 5em;
  background-color: #999999;
  margin-top: 1em;
  margin-bottom: 1em;
  display: none;
}
@media (min-width: 700px) {
  /* line 58, ../sass/_blog.scss */
  .wrapper--wide .sidebar-l ul.blog-sidebar__filter .blog-sidebar__speaker {
    display: block;
  }
}
/* line 69, ../sass/_blog.scss */
.wrapper--wide .sidebar-l ul.blog-sidebar__filter .blog-sidebar__speaker:last-child {
  width: 31.03448%;
  float: right;
  margin-right: 0;
}
/* line 72, ../sass/_blog.scss */
.wrapper--wide .sidebar-l ul.blog-sidebar__filter .blog-sidebar__button {
  padding: .6em;
  border-radius: .2em;
  border: none;
  font-size: 1.1em;
  display: none;
}
@media (min-width: 700px) {
  /* line 72, ../sass/_blog.scss */
  .wrapper--wide .sidebar-l ul.blog-sidebar__filter .blog-sidebar__button {
    display: block;
  }
}
/* line 85, ../sass/_blog.scss */
.wrapper--wide .content {
  margin-bottom: 0;
  padding: 1em;
  height: auto;
  background-color: #FFFFFF;
}
@media (min-width: 900px) {
  /* line 85, ../sass/_blog.scss */
  .wrapper--wide .content {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 92, ../sass/_blog.scss */
.wrapper--wide .content p {
  margin-bottom: 1em;
}
/* line 95, ../sass/_blog.scss */
.wrapper--wide .content .row {
  border-bottom: 2px solid #cccccc;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
/* line 18, ../sass/_variables.scss */
.wrapper--wide .content .row:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 101, ../sass/_blog.scss */
.wrapper--wide .content .row:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}
/* line 106, ../sass/_blog.scss */
.wrapper--wide .content .blog-content__img {
  margin-bottom: 0;
  padding: 1em;
  height: 15em;
  background-color: #999999;
}
@media (min-width: 700px) {
  /* line 106, ../sass/_blog.scss */
  .wrapper--wide .content .blog-content__img {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 114, ../sass/_blog.scss */
.wrapper--wide .content .blog-content__text-block {
  height: 15em;
  background-color: #cccccc;
  margin-bottom: 0;
  padding: 1em;
}
@media (min-width: 700px) {
  /* line 114, ../sass/_blog.scss */
  .wrapper--wide .content .blog-content__text-block {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }
}
/* line 122, ../sass/_blog.scss */
.wrapper--wide .content .blog-content__author {
  background-color: #999999;
  margin-bottom: 0;
  padding: 1em;
}
/* line 18, ../sass/_variables.scss */
.wrapper--wide .content .blog-content__author:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 126, ../sass/_blog.scss */
.wrapper--wide .content .blog-content__author .blog-content__author-photo {
  width: 10em;
  height: 10em;
  background-color: #333333;
  float: left;
}
/* line 132, ../sass/_blog.scss */
.wrapper--wide .content .blog-content__author .blog-content__author-bio {
  background-color: #cccccc;
  height: 10em;
  margin-left: 11em;
}
/* line 138, ../sass/_blog.scss */
.wrapper--wide .content .blog-content__pagination {
  text-align: center;
}
/* line 143, ../sass/_blog.scss */
.wrapper--wide .sidebar-r {
  margin-bottom: 1em;
  padding: 1em;
  background-color: #333333;
}
@media (min-width: 900px) {
  /* line 143, ../sass/_blog.scss */
  .wrapper--wide .sidebar-r {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
}
/* line 150, ../sass/_blog.scss */
.wrapper--wide .sidebar-r ul.blog-sidebar__events li {
  margin-bottom: 1em;
  padding: 1em;
  height: 8em;
  background-color: #999999;
  font-family: Helvetica, sans-serif;
  color: #FFFFFF;
}
/* line 157, ../sass/_blog.scss */
.wrapper--wide .sidebar-r ul.blog-sidebar__events li:last-child {
  margin-bottom: 0;
}

/* line 1, ../sass/_about.scss */
section.team, section.advisors, section.careers, section.faq {
  height: 20em;
  background-color: #FFFFFF;
}
/* line 4, ../sass/_about.scss */
section.team h2, section.advisors h2, section.careers h2, section.faq h2 {
  position: relative;
  top: 40%;
}

/* line 1, ../sass/_videos.scss */
ul.content__sub-nav {
  list-style: none;
}
/* line 3, ../sass/_videos.scss */
ul.content__sub-nav li {
  display: inline-block;
  margin-right: 1em;
  color: #cccccc;
}
/* line 8, ../sass/_videos.scss */
ul.content__sub-nav li.current {
  color: #333333;
}

/* line 13, ../sass/_videos.scss */
ul.content__gallery {
  list-style: none;
}
/* line 18, ../sass/_variables.scss */
ul.content__gallery:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 16, ../sass/_videos.scss */
ul.content__gallery li {
  width: 48.27586%;
  float: left;
  margin-right: 3.44828%;
  height: 8em;
  background-color: #999999;
  padding: 1em;
  margin-bottom: 3.44828%;
}
@media (max-width: 699px) {
  /* line 22, ../sass/_videos.scss */
  ul.content__gallery li:nth-child(2n) {
    width: 48.27586%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 700px) {
  /* line 16, ../sass/_videos.scss */
  ul.content__gallery li {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 1.69492%;
    height: 10em;
  }
  /* line 31, ../sass/_videos.scss */
  ul.content__gallery li:nth-child(3n) {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}
/* line 36, ../sass/_videos.scss */
ul.content__gallery li.locked {
  background-color: #cccccc;
}

/* line 41, ../sass/_videos.scss */
.content__signup {
  margin-bottom: 1em;
  padding: 1em;
  background-color: #333333;
  color: #FFFFFF;
  min-height: 5em;
}

/* line 1, ../sass/_speakers.scss */
.content__col--left {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}
/* line 3, ../sass/_speakers.scss */
.content__col--left .content__img--full {
  margin-bottom: 1em;
  padding: 1em;
  height: 15em;
  background-color: #999999;
}
/* line 8, ../sass/_speakers.scss */
.content__col--left .content__contact-info {
  margin-bottom: 1em;
  padding: 1em;
  height: 10em;
  background-color: #cccccc;
}

/* line 15, ../sass/_speakers.scss */
.content__text-block--right {
  width: 66.10169%;
  float: right;
  margin-right: 0;
  height: 30em;
  background-color: #cccccc;
}

/* line 20, ../sass/_speakers.scss */
.short {
  height: 10em;
  margin-bottom: 0;
}

/* line 14, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/screen.scss */
* {
  font-family: Helvetica, sans-serif;
}

/* line 28, ../sass/screen.scss */
body {
  padding: 1em;
}

/* Nav */
/* line 34, ../sass/screen.scss */
nav {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #333333;
  margin-bottom: 1em;
  padding: 1em;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
nav:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 18, ../sass/_variables.scss */
nav:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 39, ../sass/screen.scss */
nav ul.top-nav, nav ul.login {
  list-style: none;
}
/* line 41, ../sass/screen.scss */
nav ul.top-nav li, nav ul.login li {
  display: inline-block;
  margin-right: 1em;
  color: #FFFFFF;
  font-family: Helvetica, sans-serif;
}
/* line 48, ../sass/screen.scss */
nav ul.top-nav {
  display: none;
}
@media (min-width: 700px) {
  /* line 48, ../sass/screen.scss */
  nav ul.top-nav {
    display: block;
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
  }
}
/* line 58, ../sass/screen.scss */
nav ul.login {
  display: none;
}
@media (min-width: 700px) {
  /* line 58, ../sass/screen.scss */
  nav ul.login {
    display: block;
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
  /* line 63, ../sass/screen.scss */
  nav ul.login li {
    float: right;
  }
}

/* Header */
/* line 72, ../sass/screen.scss */
header {
  height: 25em;
  background-color: #999999;
  text-align: center;
  position: relative;
  margin-bottom: 1em;
  padding: 1em;
}
@media (min-width: 700px) {
  /* line 72, ../sass/screen.scss */
  header {
    height: 40em;
  }
}
/* line 81, ../sass/screen.scss */
header .header-group {
  position: relative;
  top: 20%;
}
@media (min-width: 700px) {
  /* line 81, ../sass/screen.scss */
  header .header-group {
    top: 40%;
  }
}
/* line 88, ../sass/screen.scss */
header button.header__button {
  background-color: #333333;
  border: none;
  border-radius: .2em;
  padding: 1em;
  color: #FFFFFF;
  font-size: 1.2em;
}

/* line 98, ../sass/screen.scss */
h2.header--secondary {
  margin-top: 1em;
  text-align: left;
}

/* Main */
/* line 106, ../sass/screen.scss */
main {
  margin-bottom: 1em;
  padding: 1em;
  background-color: #cccccc;
}
/* line 109, ../sass/screen.scss */
main .wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
main .wrapper:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 111, ../sass/screen.scss */
main .wrapper section {
  margin-bottom: 1em;
  padding: 1em;
  text-align: center;
}
/* line 18, ../sass/_variables.scss */
main .wrapper section:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 117, ../sass/screen.scss */
main .wrapper section.about h2, main .wrapper section.newsletter-signup h2 {
  position: relative;
  top: 40%;
}
/* line 122, ../sass/screen.scss */
main .wrapper section.get-involved {
  background-color: #FFFFFF;
}
/* line 125, ../sass/screen.scss */
main .wrapper section.news {
  background-color: #FFFFFF;
}
/* line 128, ../sass/screen.scss */
main .wrapper section.newsletter-signup {
  background-color: #333333;
  height: 10em;
}
/* line 132, ../sass/screen.scss */
main .wrapper section.get-involved, main .wrapper section.faq {
  margin-bottom: 0;
}

/* line 138, ../sass/screen.scss */
.row {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.row:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 18, ../sass/_variables.scss */
.row:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 141, ../sass/screen.scss */
.row .content-block1, .row .content-block2, .row .content-block3 {
  height: 15em;
  background-color: #999999;
  margin-bottom: 0;
  padding: 1em;
}
@media (min-width: 700px) {
  /* line 147, ../sass/screen.scss */
  .row .content-block1, .row .content-block2 {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 150, ../sass/screen.scss */
  .row .content-block3 {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
  /* line 153, ../sass/screen.scss */
  .row .content-block1, .row .content-block2, .row .content-block {
    margin-bottom: 0;
  }
}

/* line 159, ../sass/screen.scss */
button.content__button {
  background-color: #999999;
  border: none;
  border-radius: .2em;
  padding: 1em;
  color: #FFFFFF;
  font-size: 1.2em;
}

/* line 167, ../sass/screen.scss */
button.sidebar__button {
  margin-bottom: 1em;
  width: 100%;
}

/* Events section */
/* line 174, ../sass/screen.scss */
section.events {
  background-color: #FFFFFF;
  padding-bottom: 0;
}
/* line 177, ../sass/screen.scss */
section.events ul.events-section__list {
  list-style: none;
}
/* line 18, ../sass/_variables.scss */
section.events ul.events-section__list:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 180, ../sass/screen.scss */
section.events ul.events-section__list li {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  margin-bottom: 1.69492%;
  padding: 1em;
  display: inline-block;
  height: 8em;
  background-color: #999999;
  font-family: Helvetica, sans-serif;
}
@media (max-width: 699px) {
  /* line 190, ../sass/screen.scss */
  section.events ul.events-section__list li:nth-child(2), section.events ul.events-section__list li:nth-child(4), section.events ul.events-section__list li:last-child {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 700px) {
  /* line 195, ../sass/screen.scss */
  section.events ul.events-section__list li {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    height: 10em;
  }
  /* line 199, ../sass/screen.scss */
  section.events ul.events-section__list li:nth-child(3), section.events ul.events-section__list li:last-child {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
  /* line 202, ../sass/screen.scss */
  section.events ul.events-section__list li:nth-child(4), section.events ul.events-section__list li:nth-child(5), section.events ul.events-section__list li:nth-child(6) {
    margin-bottom: 0;
  }
}

/* Footer */
/* line 211, ../sass/screen.scss */
footer {
  margin-bottom: 1em;
  padding: 1em;
  background-color: #333333;
  height: 10em;
  text-align: center;
  margin-bottom: 0;
}
/* line 217, ../sass/screen.scss */
footer .text-group {
  position: relative;
  top: 40%;
}
