/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, p.subtitle, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Variables and mixins */
/* Clearfix */
/* Partials */
/* Main content */
/* line 3, ../sass/_global/_blog.scss */
.wrapper--wide {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #cccccc;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.1/sass/susy/output/support/_clearfix.scss */
.wrapper--wide:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 8, ../sass/_mixins.scss */
.wrapper--wide:after {
  content: " ";
  display: block;
  clear: both;
}

/* Left Sidebar */
/* line 9, ../sass/_global/_blog.scss */
.sidebar-l {
  margin-bottom: 0;
  padding: 1em;
  background-color: #999999;
}
/* line 8, ../sass/_mixins.scss */
.sidebar-l:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 900px) {
  /* line 9, ../sass/_global/_blog.scss */
  .sidebar-l {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 17, ../sass/_global/_blog.scss */
.sidebar-l ul.blog-sidebar__filter li {
  margin-bottom: 0;
  padding: 1em;
  width: 31.03448%;
  float: left;
  margin-right: 3.44828%;
  background-color: #333333;
  font-family: Helvetica, sans-serif;
  color: #FFFFFF;
}
/* line 24, ../sass/_global/_blog.scss */
.sidebar-l ul.blog-sidebar__filter li:nth-child(3) {
  width: 31.03448%;
  float: right;
  margin-right: 0;
}
/* line 27, ../sass/_global/_blog.scss */
.sidebar-l ul.blog-sidebar__filter li:first-child, .sidebar-l ul.blog-sidebar__filter li:nth-child(2), .sidebar-l ul.blog-sidebar__filter li:nth-child(3) {
  height: 4em;
  margin-bottom: 1em;
}
@media (min-width: 700px) {
  /* line 27, ../sass/_global/_blog.scss */
  .sidebar-l ul.blog-sidebar__filter li:first-child, .sidebar-l ul.blog-sidebar__filter li:nth-child(2), .sidebar-l ul.blog-sidebar__filter li:nth-child(3) {
    height: auto;
    width: 100%;
  }
}
/* line 35, ../sass/_global/_blog.scss */
.sidebar-l ul.blog-sidebar__filter li:nth-child(4), .sidebar-l ul.blog-sidebar__filter li:nth-child(5) {
  width: 100%;
  margin-bottom: 1em;
}
/* line 8, ../sass/_mixins.scss */
.sidebar-l ul.blog-sidebar__filter li:nth-child(4):after, .sidebar-l ul.blog-sidebar__filter li:nth-child(5):after {
  content: " ";
  display: block;
  clear: both;
}
/* line 40, ../sass/_global/_blog.scss */
.sidebar-l ul.blog-sidebar__filter li.current {
  background-color: #cccccc;
}
/* line 43, ../sass/_global/_blog.scss */
.sidebar-l ul.blog-sidebar__filter li.search {
  background-color: #FFFFFF;
  color: #333333;
  width: 100%;
}
/* line 8, ../sass/_mixins.scss */
.sidebar-l ul.blog-sidebar__filter li.search:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 49, ../sass/_global/_blog.scss */
.sidebar-l ul.blog-sidebar__filter .blog-sidebar__speaker {
  width: 31.03448%;
  float: left;
  margin-right: 3.44828%;
  height: 5em;
  background-color: #999999;
  margin-top: 1em;
  margin-bottom: 1em;
  display: none;
}
@media (min-width: 700px) {
  /* line 49, ../sass/_global/_blog.scss */
  .sidebar-l ul.blog-sidebar__filter .blog-sidebar__speaker {
    display: block;
  }
}
/* line 60, ../sass/_global/_blog.scss */
.sidebar-l ul.blog-sidebar__filter .blog-sidebar__speaker:last-child {
  width: 31.03448%;
  float: right;
  margin-right: 0;
}
/* line 63, ../sass/_global/_blog.scss */
.sidebar-l ul.blog-sidebar__filter .blog-sidebar__button {
  padding: .6em;
  border-radius: .2em;
  border: none;
  font-size: 1.1em;
  display: none;
}
@media (min-width: 700px) {
  /* line 63, ../sass/_global/_blog.scss */
  .sidebar-l ul.blog-sidebar__filter .blog-sidebar__button {
    display: block;
  }
}

/* Right sidebar */
/* line 77, ../sass/_global/_blog.scss */
.sidebar-r {
  margin-bottom: 0;
  padding: 1em;
  background-color: #333333;
}
/* line 8, ../sass/_mixins.scss */
.sidebar-r:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 900px) {
  /* line 77, ../sass/_global/_blog.scss */
  .sidebar-r {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
}
/* line 8, ../sass/_mixins.scss */
.sidebar-r ul.blog-sidebar__events:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 86, ../sass/_global/_blog.scss */
.sidebar-r ul.blog-sidebar__events li {
  width: 48.27586%;
  float: left;
  margin-right: 3.44828%;
  margin-bottom: 1em;
  padding: 1em;
  height: 8em;
  background-color: #999999;
  font-family: Helvetica, sans-serif;
  color: #FFFFFF;
}
/* line 94, ../sass/_global/_blog.scss */
.sidebar-r ul.blog-sidebar__events li:last-child {
  margin-bottom: 0;
}
/* line 97, ../sass/_global/_blog.scss */
.sidebar-r ul.blog-sidebar__events li:nth-child(2n) {
  width: 48.27586%;
  float: right;
  margin-right: 0;
}
@media (min-width: 700px) {
  /* line 101, ../sass/_global/_blog.scss */
  .sidebar-r ul.blog-sidebar__events li, .sidebar-r ul.blog-sidebar__events li:last-child, .sidebar-r ul.blog-sidebar__events li:nth-child(2n) {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 1, ../sass/_global/_content-gallery.scss */
ul.content__gallery {
  list-style: none;
}
/* line 8, ../sass/_mixins.scss */
ul.content__gallery:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 4, ../sass/_global/_content-gallery.scss */
ul.content__gallery li {
  width: 48.27586%;
  float: left;
  margin-right: 3.44828%;
  height: 8em;
  background-color: #999999;
  padding: 1em;
  margin-bottom: 3.44828%;
}
@media (max-width: 699px) {
  /* line 10, ../sass/_global/_content-gallery.scss */
  ul.content__gallery li:nth-child(2n) {
    width: 48.27586%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 700px) {
  /* line 4, ../sass/_global/_content-gallery.scss */
  ul.content__gallery li {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 1.69492%;
    height: 10em;
  }
  /* line 19, ../sass/_global/_content-gallery.scss */
  ul.content__gallery li:nth-child(3n) {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}
/* line 24, ../sass/_global/_content-gallery.scss */
ul.content__gallery li.locked {
  background-color: #cccccc;
}

/* line 1, ../sass/_global/_fonts.scss */
h1 {
  font-family: Helvetica, sans-serif;
  font-size: 3em;
  margin-bottom: .2em;
}

/* line 7, ../sass/_global/_fonts.scss */
h2 {
  font-family: Helvetica, sans-serif;
  font-size: 2em;
  margin-bottom: .5em;
}

/* line 13, ../sass/_global/_fonts.scss */
h3 {
  font-size: 1.5em;
  margin-bottom: .2em;
}

/* line 18, ../sass/_global/_fonts.scss */
p, p.subtitle {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
}

/* line 22, ../sass/_global/_fonts.scss */
p.subtitle {
  margin-bottom: 3em;
}

/* line 26, ../sass/_global/_fonts.scss */
p.section__body-text {
  margin-top: 1em;
  text-align: left;
}
/* line 29, ../sass/_global/_fonts.scss */
p.section__body-text a {
  color: #999999;
}

/* Homepage header */
/* line 3, ../sass/_global/_header.scss */
header {
  height: 25em;
  background-color: #999999;
  text-align: center;
  position: relative;
  margin-bottom: 0;
  padding: 1em;
}
@media (min-width: 700px) {
  /* line 3, ../sass/_global/_header.scss */
  header {
    height: 40em;
  }
}
/* line 12, ../sass/_global/_header.scss */
header .header-group {
  position: relative;
  top: 20%;
}
@media (min-width: 700px) {
  /* line 12, ../sass/_global/_header.scss */
  header .header-group {
    top: 40%;
  }
}
/* line 19, ../sass/_global/_header.scss */
header .header__button {
  background-color: #333333;
  border: none;
  border-radius: .2em;
  padding: 1em;
  color: #FFFFFF;
  font-family: Helvetica, sans-serif;
  font-size: 1.2em;
}

/* line 30, ../sass/_global/_header.scss */
h2.header--secondary {
  margin-top: 1em;
  text-align: left;
}

/* General/blog header */
/* line 37, ../sass/_global/_header.scss */
header.blog-header {
  height: auto;
}
/* line 39, ../sass/_global/_header.scss */
header.blog-header .blog-header__header-group {
  text-align: left;
  margin: 0;
}

/* Center content - blog */
/* line 2, ../sass/_global/_main-content.scss */
.content {
  margin-bottom: 0;
  padding: 1em;
  height: auto;
  background-color: #FFFFFF;
}
@media (min-width: 900px) {
  /* line 2, ../sass/_global/_main-content.scss */
  .content {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 9, ../sass/_global/_main-content.scss */
.content p {
  margin-bottom: 1em;
}
/* line 12, ../sass/_global/_main-content.scss */
.content .row {
  border-bottom: 2px solid #cccccc;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
/* line 8, ../sass/_mixins.scss */
.content .row:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 18, ../sass/_global/_main-content.scss */
.content .row:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}
/* line 23, ../sass/_global/_main-content.scss */
.content .blog-content__img {
  margin-bottom: 0;
  padding: 1em;
  height: 15em;
  background-color: #999999;
}
@media (min-width: 700px) {
  /* line 23, ../sass/_global/_main-content.scss */
  .content .blog-content__img {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 31, ../sass/_global/_main-content.scss */
.content .blog-content__text-block {
  height: 15em;
  background-color: #cccccc;
  margin-bottom: 0;
  padding: 1em;
}
@media (min-width: 700px) {
  /* line 31, ../sass/_global/_main-content.scss */
  .content .blog-content__text-block {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }
}
/* line 39, ../sass/_global/_main-content.scss */
.content .blog-content__author {
  background-color: #999999;
  margin-bottom: 0;
  padding: 1em;
}
/* line 8, ../sass/_mixins.scss */
.content .blog-content__author:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 43, ../sass/_global/_main-content.scss */
.content .blog-content__author .blog-content__author-photo {
  width: 10em;
  height: 10em;
  background-color: #333333;
  float: left;
}
/* line 49, ../sass/_global/_main-content.scss */
.content .blog-content__author .blog-content__author-bio {
  background-color: #cccccc;
  height: 10em;
  margin-left: 11em;
}
/* line 55, ../sass/_global/_main-content.scss */
.content .blog-content__pagination {
  text-align: center;
}

/* Content - general */
@media (min-width: 700px) {
  /* line 62, ../sass/_global/_main-content.scss */
  .content__col--left {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 66, ../sass/_global/_main-content.scss */
.content__col--left .content__img--full {
  margin-bottom: 1em;
  padding: 1em;
  height: 15em;
  background-color: #999999;
}
/* line 71, ../sass/_global/_main-content.scss */
.content__col--left .content__contact-info {
  margin-bottom: 1em;
  padding: 1em;
  height: 10em;
  background-color: #cccccc;
}

/* line 78, ../sass/_global/_main-content.scss */
.content__text-block--right {
  margin-bottom: 0;
  padding: 1em;
  height: 20em;
  background-color: #cccccc;
}
@media (min-width: 700px) {
  /* line 78, ../sass/_global/_main-content.scss */
  .content__text-block--right {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }
}

/* line 86, ../sass/_global/_main-content.scss */
.short {
  height: 10em;
  margin-bottom: 0;
}

/* line 91, ../sass/_global/_main-content.scss */
.content__text-block--right-secondary {
  height: 10em;
  background-color: #cccccc;
  margin-top: 1em;
  margin-bottom: 0;
  padding: 1em;
}
@media (min-width: 700px) {
  /* line 91, ../sass/_global/_main-content.scss */
  .content__text-block--right-secondary {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }
}

/* Top level nav */
/* line 3, ../sass/_global/_nav.scss */
nav {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #333333;
  margin-bottom: 0;
  padding: 1em;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.1/sass/susy/output/support/_clearfix.scss */
nav:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 8, ../sass/_mixins.scss */
nav:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 9, ../sass/_global/_nav.scss */
ul.top-nav, ul.login {
  list-style: none;
}
/* line 11, ../sass/_global/_nav.scss */
ul.top-nav li, ul.login li {
  display: inline-block;
  margin-right: 1em;
  color: #FFFFFF;
  font-family: Helvetica, sans-serif;
  padding-top: .8em;
}

/* line 19, ../sass/_global/_nav.scss */
ul.top-nav {
  display: none;
}
@media (min-width: 700px) {
  /* line 19, ../sass/_global/_nav.scss */
  ul.top-nav {
    display: block;
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
  }
}

/* line 29, ../sass/_global/_nav.scss */
ul.login {
  display: none;
}
@media (min-width: 700px) {
  /* line 29, ../sass/_global/_nav.scss */
  ul.login {
    display: block;
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
  /* line 34, ../sass/_global/_nav.scss */
  ul.login li {
    float: right;
  }
  /* line 37, ../sass/_global/_nav.scss */
  ul.login li.nav__social-button {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: #FFFFFF;
  }
}

/* Sub nav for content pages */
/* line 48, ../sass/_global/_nav.scss */
ul.content__sub-nav {
  list-style: none;
}
/* line 50, ../sass/_global/_nav.scss */
ul.content__sub-nav li {
  display: inline-block;
  margin-right: 1em;
  color: #cccccc;
}
/* line 55, ../sass/_global/_nav.scss */
ul.content__sub-nav li.current {
  color: #333333;
}

/* line 1, ../sass/_global/_videos.scss */
.content__signup {
  margin-bottom: 0;
  padding: 1em;
  background-color: #333333;
  color: #FFFFFF;
  min-height: 5em;
}

/* line 8, ../sass/_global/_videos.scss */
.content__signup--top {
  margin-bottom: 1em;
  padding: 1em;
  background-color: #333333;
  color: #FFFFFF;
  min-height: 5em;
}

/* line 15, ../sass/_global/_videos.scss */
button.content__button {
  margin-bottom: 1em;
}
@media (min-width: 700px) {
  /* line 15, ../sass/_global/_videos.scss */
  button.content__button {
    margin-bottom: 0;
  }
}

/* line 21, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.1/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 23, ../sass/screen.scss */
* {
  font-family: Helvetica, sans-serif;
}

/* line 28, ../sass/screen.scss */
a, a:visited, a:hover, a:active {
  color: #FFFFFF;
}

/* line 32, ../sass/screen.scss */
a.block {
  height: 100%;
  display: block;
}
/* line 35, ../sass/screen.scss */
a.block:hover {
  color: #333333;
}

/* Main */
/* line 43, ../sass/screen.scss */
main {
  margin-bottom: 0;
  padding: 1em;
  background-color: #cccccc;
}
/* line 46, ../sass/screen.scss */
main section {
  margin-bottom: 1em;
  padding: 1em;
  text-align: center;
}
/* line 8, ../sass/_mixins.scss */
main section:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 51, ../sass/screen.scss */
main section.get-involved {
  background-color: #FFFFFF;
}
/* line 54, ../sass/screen.scss */
main section.news {
  background-color: #FFFFFF;
}
/* line 57, ../sass/screen.scss */
main section.newsletter-signup {
  background-color: #333333;
}
/* line 60, ../sass/screen.scss */
main section.get-involved, main section.faq {
  margin-bottom: 0;
}

/* line 65, ../sass/screen.scss */
.row {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.1/sass/susy/output/support/_clearfix.scss */
.row:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 8, ../sass/_mixins.scss */
.row:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 68, ../sass/screen.scss */
.row .content-block1, .row .content-block2, .row .content-block3 {
  height: 15em;
  background-color: #999999;
  margin-bottom: 1em;
  padding: 1em;
}
@media (min-width: 700px) {
  /* line 74, ../sass/screen.scss */
  .row .content-block1, .row .content-block2 {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 0;
  }
  /* line 78, ../sass/screen.scss */
  .row .content-block3 {
    width: 32.20339%;
    float: right;
    margin-right: 0;
    margin-bottom: 0;
  }
}

/* line 85, ../sass/screen.scss */
button.content__button {
  background-color: #999999;
  border: none;
  border-radius: .2em;
  padding: 1em;
  color: #FFFFFF;
  font-size: 1.2em;
}

/* line 93, ../sass/screen.scss */
button.sidebar__button {
  margin-bottom: 1em;
  width: 100%;
}

/* Events section */
/* line 100, ../sass/screen.scss */
section.events {
  background-color: #FFFFFF;
  margin-bottom: 1em;
  padding: 1em;
  padding-bottom: 0;
}
/* line 104, ../sass/screen.scss */
section.events ul.events-section__list {
  list-style: none;
}
/* line 8, ../sass/_mixins.scss */
section.events ul.events-section__list:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 107, ../sass/screen.scss */
section.events ul.events-section__list li {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  margin-bottom: 1.69492%;
  padding: 1em;
  display: inline-block;
  height: 8em;
  background-color: #999999;
  font-family: Helvetica, sans-serif;
}
@media (max-width: 699px) {
  /* line 117, ../sass/screen.scss */
  section.events ul.events-section__list li:nth-child(2), section.events ul.events-section__list li:nth-child(4), section.events ul.events-section__list li:last-child {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 700px) {
  /* line 122, ../sass/screen.scss */
  section.events ul.events-section__list li {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    height: 10em;
  }
  /* line 126, ../sass/screen.scss */
  section.events ul.events-section__list li:nth-child(3), section.events ul.events-section__list li:last-child {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
  /* line 129, ../sass/screen.scss */
  section.events ul.events-section__list li:nth-child(4), section.events ul.events-section__list li:nth-child(5), section.events ul.events-section__list li:nth-child(6) {
    margin-bottom: 0;
  }
}

/* General content */
/* line 138, ../sass/screen.scss */
.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.1/sass/susy/output/support/_clearfix.scss */
.wrapper:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 142, ../sass/screen.scss */
.content__col--full-1 {
  margin-bottom: 1em;
  padding: 1em;
  height: 12em;
  background-color: #999999;
}
@media (min-width: 700px) {
  /* line 142, ../sass/screen.scss */
  .content__col--full-1 {
    height: 20em;
  }
}

/* line 151, ../sass/screen.scss */
.content__col--full-2 {
  margin-bottom: 0;
  padding: 1em;
  height: 15em;
  background-color: #cccccc;
}

/* line 157, ../sass/screen.scss */
.content__col--full-2-long {
  margin-bottom: 0;
  padding: 1em;
  height: 60em;
  background-color: #cccccc;
}

/* Newsletter signup */
/* line 165, ../sass/screen.scss */
h2.signup__title {
  color: #cccccc;
}

/* line 169, ../sass/screen.scss */
form {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.1/sass/susy/output/support/_clearfix.scss */
form:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 8, ../sass/_mixins.scss */
form:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 700px) {
  /* line 172, ../sass/screen.scss */
  form fieldset {
    width: 83.05085%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 176, ../sass/screen.scss */
form fieldset label {
  color: #FFFFFF;
  text-align: left;
  width: 100%;
  float: left;
}
@media (min-width: 700px) {
  /* line 176, ../sass/screen.scss */
  form fieldset label {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media (min-width: 700px) {
  /* line 184, ../sass/screen.scss */
  form fieldset label:last-child {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
}
/* line 189, ../sass/screen.scss */
form fieldset label input {
  margin: 0.5em 0 1em 0;
  width: 100%;
  font-size: 1.2em;
  padding: .3em;
}
/* line 197, ../sass/screen.scss */
form button {
  padding: 0.6em 1em 0.4em 1em;
  border-radius: .2em;
  border: none;
  font-size: 1.2em;
  margin-top: 0;
  cursor: pointer;
}
@media (min-width: 700px) {
  /* line 197, ../sass/screen.scss */
  form button {
    width: 15.25424%;
    float: right;
    margin-right: 0;
    margin-top: 1.2em;
  }
}

/* Footer */
/* line 213, ../sass/screen.scss */
footer {
  margin-bottom: 1em;
  padding: 1em;
  background-color: #333333;
  margin-bottom: 0;
}
/* line 8, ../sass/_mixins.scss */
footer:after {
  content: " ";
  display: block;
  clear: both;
}
