/* Center content - blog */
    .content {
        @include section(0, $small-padding);
        height: auto;
        background-color: $color4;
        @media (min-width: 900px) {
            @include span(6 of 12);
        }
        p {
            margin-bottom: $small-padding;
        }
        .row {
            @include cf;
            border-bottom: 2px solid $color3;
            margin-bottom: $small-padding;
            padding-bottom: $small-padding;
        }
        .row:last-child {
            margin-bottom: 0;
            border-bottom: none;
            padding-bottom: 0;
        }
        .blog-content__img {
            @include section(0, $small-padding);
            height: 15em;
            background-color: $color1;
            @media (min-width: 700px) {
                @include span(4 of 12);
            }
        }
        .blog-content__text-block {
            height: 15em;
            background-color: $color3;
            @include section(0, $small-padding);
            @media (min-width: 700px) {
                @include span(8 of 12 last);
            }
        }
        .blog-content__author {
            background-color: $color1;
            @include section(0, $small-padding);
            @include cf;
            .blog-content__author-photo {
                width: 10em;
                height: 10em;
                background-color: $color2;
                float: left;
            }
            .blog-content__author-bio {
                background-color: $color3;
                height: 10em;
                margin-left: 11em;
            }
        }
        .blog-content__pagination {
            text-align: center;
        }
    }

/* Content - general */

.content__col--left {
    @media (min-width: 700px) {
        @include span(4 of 12);
    }
    .content__img--full {
        @include section($small-padding, $small-padding);
        height: 15em;
        background-color: $color1;
    }
    .content__contact-info {
        @include section($small-padding, $small-padding);
        height: 10em;
        background-color: $color3;
    }
}

.content__text-block--right {
    @include section(0, $small-padding);
    @media (min-width: 700px) {
        @include span(8 of 12 last);
    }
    height: 20em;
    background-color: $color3;
}
.short {
    height: 10em;
    margin-bottom: 0;
}

.content__text-block--right-secondary {
    @media (min-width: 700px) {
        @include span(8 of 12 last);
    }
    height: 10em;
    background-color: $color3;
    margin-top: $small-padding;
    @include section(0, $small-padding);
}