/* Signup form - homepage */

form.signup {

    fieldset {
        margin-top: 1em;
        &.radio-buttons {
            margin-bottom: 1em;
        }
    }

    label {
        display: block;
        width: 100%;
        margin-bottom: 1em;
    }

    input.text-field {
        display: block;
        width: 100%;
        padding: .8em;
        margin-top: .5em;
        font-size: 1em;
    }
    
    input.radio-button {
        margin: 0 1em 0 2em;
        &:first-child {
            margin-left: 0;
        }
    }
    
}
    
/* Tablet styles */
@media (min-width: $bp-m) {
    
    form.signup {
        display: none;
    }
    
}