/* Signup form - homepage */

form.signup {

    fieldset {
        margin-top: 1em;
        &.radio-buttons {
            margin-bottom: 1em;
        }
    }

    label {
        display: block;
        width: 100%;
        margin-bottom: 1em;
    }

    input.text-field {
        display: block;
        width: 100%;
        padding: .8em;
        margin-top: .5em;
        font-size: 1em;
    }
    
    input.radio-button {
        margin: 0 1em 0 2em;
        &:first-child {
            margin-left: 0;
        }
    }

    button {
        padding: 1em 3em;
        display: block;
        margin: 0 auto;
        border-radius: .2em;
        border: none;
        background-color: $color2;
        color: $color1;
        font-size: 1em;
    }
    
}

button.signup__button--open-form {
    padding: 1em 3em;
    display: block;
    border-radius: .2em;
    border: none;
    background-color: $color2;
    color: $color1;
    font-size: 1em;
    display: none;
}
    
/* Tablet styles */
@media (min-width: $bp-m) {
    button.signup__button--open-form {
        display: block;
    }
    
    form.signup {
        display: none;
    }
}